<html>
<head>
	<title>Grape Plant Disease Detection Model</title>
	<link rel="stylesheet" href="../static/css/disease.css">
	<link rel="icon" href="../static/img/favicon.png">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body 	style="background-image: url('../static/img/disease.jpg');">
	<header>
		<nav>
			<div id="nav_home"><a href="{{ url_for('index') }}">Home</a></div>
			<div id="nav_about"><a href="about.html">About</a></div>
			<div id="nav_help"><a href="help.html">Help</a></div>
			<div id="nav_contact"><a href="contact.html">Contact Us</a></div>
		</nav>
	</header>
	<div id="container">
		<p id="title">Black Rot</p>
		<p id="abt">Warm and moist climate with extended periods of rain and cloudy weather favours the development of
the disease. The disease attacks the leaves, stem, flowers and berries. All the new growth on the vine
is prone to attack during the growing season. The symptoms are in the form of irregularly shaped
reddish brown spots on the leaves and a black scab on berries. Occasionally, small elliptical dark
coloured canker lesions occur on the young stems and tendrils. Leaf, cane and tendril infection can
occur only when the tissue is young, but berries can be infected until almost fully-grown if an active
fungicide residue is not present. The affected berries shrivel and become hard black mummies.</p>
	<section>
		<article id="info">
		<p id="ctrl">Control</p>
		<p id="treatment">Mummified berries left on vines should be collected and destroyed. Cultivation practices
should ensure free circulation of air. Spraying Bordeaux mixture (4:4:100) once or twice on young
bunches prevents the infection. Copper fungicides are preferred for spraying on bunches, as they do
not leave any visible deposits on the fruit surface.</p>
		</article>
		<article id="pic" style = "border-radius: 10px;">
			<img id="leaf" src="#" />
		</article>
	</section>
	</div>
	<footer>
		<script src="../static/js/disease.js" type="text/javascript"></script>
		<p id="foot_text">Copyrights &copy; Manor Deshmukh, Saumitra Apte, Yogita Sangale</p>
	</footer>
</body>
</html>